<%inherit file="base.html" />

<%block name="title">${ post.title } - SQLAlchemy 示例</%block>

<%block name="content">
    <h1>${ post.title }</h1>
    
    <div class="post-meta">
        创建时间: ${ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }
        % if post.updated_at:
        | 更新时间: ${ post.updated_at.strftime('%Y-%m-%d %H:%M:%S') }
        % endif
    </div>
    
    <div class="post-content">
        ${ post.content }
    </div>
    
    <div class="post-actions">
        <a href="/edit/${ post.id }">编辑</a>
        <a href="/delete/${ post.id }">删除</a>
        <a href="/">返回首页</a>
    </div>
</%block>